:root {
    --primary-color: #212223;
    --secondary-color: #737888;
    --third-color: #d8d9dadf;
    --four-color: #fff6d1;
    --white: #fff;
    --black: #000;
    --navbar-background: #fff;
    --primary: #f65f00;
    --primary--shade: #cb4e00;
    --tint-bg: #fff2f2;
    --tint-1: #feefe6;
    --tint-2: #fddfcc;
    --tint-3: #f5cba7;
    --tint-4: #f87f33;
    --shade-1: #c54c00;
    --accent-1: #330000;
    --accent-1-tint: #5c3333;
    --accent-1-text: #c2b3b3;
  }  
/* Resetting some default styles */
body {
    margin: 0;
    padding: 0;
    font-family: Arial;
    margin: 0;
    padding: 0;
    background-image: url('background.jpg'); /* Replace with the URL of your background image */
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed; /* Optional - to make the background image fixed */
    --scroll-trigger: 50px;
}
body.scrolled .navbar {
    background-color: #000;
}


a {
    text-decoration: none;
}
li {
    list-style-type: none;
}
.header {
    position: fixed;
    min-height: 70px;
    padding-top: 30px; 
    background-color: var(--white);
    top: 0;
    left: 0;
    right: 0;
    z-index: 999;
}

/* Container styles */
.container {
    width: 85%;
    margin: 0 auto; 
}

/* Navbar styles */
.navbar {
    display: flex;
    align-items: center;
    position: fixed;
    gap: 400px;
    background-color: var(--navbar-background);
    z-index: 100;

}

/* Navigation links styles */
.navbar .nav-links {
    display: flex;
    gap: 40px;
}

/* Navigation link item styles */
.navbar .nav-links li a {
    font-size: 1rem;
    padding: 0.5rem 1rem;
    color: #999;
    font-family: 'Ubuntu', sans-serif;
}
/* Navigation link hover effect */
.nav-links li a:hover {
    color: #000000;
    font-size: 20px;
    transition: 0.5s ease;
}



/* Contact Us button styles */
.btn-contact a {
    padding: 1rem 3rem;
    border: 2px solid #000;
    border-radius: 10px;
    font-size: 1rem;
    color: #000;
    font-weight: 800;
    font-family: 'Ubuntu', sans-serif;
    transition: 0.4s ease-in-out;
}

/* Contact Us button hover effect */
.btn-contact a:hover {
    background-color: #1E1E1E;
    color: #fff;
}

.container2{
    display: flex;
    gap: 20px;
    margin: 60px 5%;
    width: 90%;
    align-items: center;
    padding-top: 20px;
    
    
}
.container-text{
    flex-basis: 45%;
    width:50%;
    height: 100%;
    display: flex;
    flex-direction: column;

}
.container-text h1{
    font-size: 70px;
}

.container-text p {
    font-size: 20px;
    margin-bottom: 20px;
}
.container img{
    position: absolute;
    width: 550px;
    height: 420px;

}
.contonair-image{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
}
.fnb{
    background-color: black;
    border-radius: 5px;
    color: white;
    width: 300px;
    height: 70px;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: 700;
    font-size: 25px;


}


/* Footer Section Style */
.guides_footer {
  background-color: #333;
  color: #fff;
  padding: 20px 0;
}

/* Style the footer content container */
.F-container {
  max-width: 1200px;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

/* Style the left section with the logo */
.F-container div:first-child {
  flex: 1;
}

.F-container div:first-child h2 {
  font-size: 28px;
  margin: 0;
}

/* Style the right section with quick links */
.FCL {
  flex: 2;
  justify-content: space-between;
}

.FCL h3 {
  font-size: 25px;
}
.FCL ul {
  display: flex;
  margin-top: 30px;
}

/* Style the columns */
.column {
  flex: 1;
  padding: 0 10px;
}

.column li {
  margin-bottom: 10px;
}

.column a {
  text-decoration: none;
  color: #fff;
  font-size: 16px;
  display: block;
}

.column a:hover {
  text-decoration: underline;
}

/* Style the copyright text */
.copyrightText {
  text-align: center;
  padding-top: 20px;
}
  /* guide section */
  
  .package-list {
    display: flex;
    justify-content: center;
    width: 80%;
    height: max-content;
    margin: auto;
    padding-top: 48px;
  }
  
  .package-list-container {
    display: flex;
    gap: 16px;
    flex-direction: column;
    padding-bottom: 48px;
    margin-top: 100px;
  }
  
  .package-card-content {
    position: relative;
    width: 300px;
    height: 150px;
    display: flex;
    justify-content: start;
    padding-top: 16px;
    background-color: var(--black);
    border-radius: 10px;
    overflow: hidden;
  }
  
  .package-card-content:hover img {
    opacity: 1;
    cursor: pointer;
    z-index: 2;
    transition: 0.6s ease;
  }
  
  .package-card-content img {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 1;
    opacity: 0.4;
  }
  
  .package-card-logo {
    position: relative;
    height: 100%;
    width: 40%;
    margin-right: 8px;
    z-index: 2;
  }
  
  .package-card-logo img {
    width: 40px;
    height: 40px;
    padding: 5px;
    border-radius: 50%;
    top: 4%;
    margin-left: 6px;
    background-color: var(--white);
  }
  
  .package-card-text {
    position: relative;
    padding-top: 8px;
    margin-left: 8px;
    margin-right: 8px;
    z-index: 2;
    font-size: 14px;
  }
  
  .package-card-text h2 {
    font-weight: bold;
    margin-bottom: 8px;
    color: var(--third-color);
  }
  
  .package-card-text p {
    line-height: 1.2;
    color: var(--white);
  }
  
  .package-card {
    display: flex;
    height: fit-content;
    gap: 32px;
  }
  
  .second-blanks {
    margin: 20px auto 20px auto;
    width: 160px;
    border: 2px solid #33333353;
  }
  
.container3{
  margin: 20px 10%;
  display: flex;
  flex-direction: column;
}
.row{
  height: 350px;
  box-shadow: 0px 0px 20px 0px rgba(0, 0, 0, 0.308);
}

.row1{
    margin-bottom: 10rem;
    background:#f4f4f4;
}

.row2{
    background:#f4f4f4;
}

.row1 .img-box,
.row2 .text-box{
    float: left;
    width: 45%;
}

.row2 .img-box,
.row1 .text-box{
    float: right;
    width: 45%;
}

.text-box{
    font-size: 1rem;
    padding: 0 3rem;
    height: 80%;
    margin-top: 2rem;
}

.img-box{
    height: 100%;
}

.row1 h2{
    font-size: 2rem;
    text-transform: uppercase;
    margin-top: 1rem;
}

.row2 h2{
    font-size: 2rem;
    text-transform: uppercase;
    margin-top: 1rem;
}

.row .img-box img{
    display: inline-block;
    width: 100%;
    height: 100%;
    object-fit: cover;
}
.row1{
  margin-bottom: 10rem;
  background:#f4f4f4;
}

.row2{
  margin-bottom: 10rem;
  background:#f4f4f4;
}

.section-flight {
  padding: 8rem 0;
}

.flight-container {
  column-gap: 2rem;
  display: flex;
}
.flights-container {
  column-gap: 2rem;
  display: flex;
  margin: 30px 3%;
}

.container-flight{
  margin: 30px 3%;
}

.flights {
  height: 450px;
  width: 330px;
  row-gap: 8px;
  border: 3px dashed var(--tint-3);
  box-shadow: 0 2.4rem 4.8rem rgb(0 0 0 / 8%);
  border-radius: 11px;
  color: var(--accent-1);
  transition: all 0.3s;
}

.flights:hover {
  background-color: var(--tint-3);
  box-shadow: 0 2.4rem 4.8rem rgb(0 0 0 / 15%);
}


.flight-img img {
  width: 250px;
  height: 180px;
  border-radius: 9px;
}

.price-container {
  display: flex;
  justify-content: space-between;
  gap: 1rem;
}

.price-text,
.price-old {
  font-size: 24px;
  padding-left: 10px;
}

.price-old {
  text-decoration: line-through;
  margin-right: 12px;
}

.price-value {
  padding-right: 10px;
  font-size: 32px;
}

.flight-heading:link,
.flight-heading:visited {
  display: inline-block;
  text-decoration: none;
  color: var(--accent-1);
  font-size: 1rem;
  line-height: 1.2;
  font-weight: 600;
  transition: all 0.2s;
  padding-left: 10px;
}

.flight-heading:hover,
.flight-heading:active {
  color: var(--shade-1);
}

.flight-attributes {
  list-style: none;
  display: flex;
  flex-direction: column;
  gap: 1rem;
}
.flight-attribute {
  font-size: 1rem;
  display: flex;
  align-items: center;
  gap: 1rem;
}

.activity-icon {
  height: 1rem;
  width: 1rem;
  color: var(--primary);
}


/* About us section */

.heading{
  width:90%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  text-align: center;
  margin: 100px auto auto;
}
.heading h1{
  font-size: 50px;
  color: #000;
  margin-bottom: 25px;
  position: relative;
}
.heading h1::after{
  content: "";
  position: absolute;
  width: 100%;
  height: 4px;
  display: block;
  margin: 0  auto;
  background-color: #4caf50;
}
.heading p{
  font-size: 18px;
  color: #666;
  margin-bottom: 35px;
}

.container-about{
  width: 90%;
  margin: 0 auto;
  padding: 10px 20px;
}
.about{
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
}
.about-image{
  flex: 1;
  margin-right: 40px;
  overflow: hidden;
}
.about-image img{
  width: 600px;
  height: auto;
  display: block;
  transition: 0.5s ease;

}
.about-image:hover img{
  transform: scale(1.2);
}
.about-content{
  flex: 1;
}
.title h1{
  text-align: center;
  padding-top: 80px;
  font-size: 40px;
}
.title h1::after{
  content: "";
  height: 4px;
  width: 220px;
  background-color: #000;
  display: block;
  margin: auto;
}
.services{
  width: 85%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 5% auto;
  text-align: center;
}
.card{
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-direction: column;
  margin: 0px 20px;
  padding: 20px;
  background-color: #efefef;
  border-radius: 8px;
  cursor: pointer;
}
.card .icon{
  font-size: 35px;
  margin-bottom: 10px; 
}
.card h2{
  font-size: 28px;
  color: #c94f4f;
  margin-bottom: 20px;
}
.card p{
  font-size: 17px;
  margin-bottom: 30px;
  line-height: 1.5;
  color: #5e5e5e;
}
.button{
  font-size: 15px;
  text-decoration: none;
  color: #fff;
  background-color: #2c677c;
  padding: 8px 12px;
  border-radius: 5px;
  letter-spacing: 1.5px;
}
.button:hover{
  background-color: #c94f4f;
  transition: 0.4s ease;
}
#testimonials{
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  width:100%;
}
.testimonial-heading{
  letter-spacing: 1px;
  margin: 30px 0px;
  padding: 10px 20px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.testimonial-heading h1{
  font-size: 2.2rem;
  font-weight: 500;
  background-color: #202020;
  color: #ffffff;
  padding: 10px 20px;
}
.testimonial-heading span{
  font-size: 1.3rem;
  color: #252525;
  margin-bottom: 10px;
  letter-spacing: 2px;
  text-transform: uppercase;
}
.testimonial-box-container{
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  width:100%;
}
.testimonial-box{
  width:500px;
  box-shadow: 2px 2px 30px rgba(0,0,0,0.1);
  background-color: #ffffff;
  padding: 20px;
  margin: 15px;
  cursor: pointer;
}
.profile-img{
  width:50px;
  height: 50px;
  border-radius: 50%;
  overflow: hidden;
  margin-right: 10px;
}
.profile-img img{
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: center;
}
.profile{
  display: flex;
  align-items: center;
}
.name-user{
  display: flex;
  flex-direction: column;
}
.name-user strong{
  color: #3d3d3d;
  font-size: 1.1rem;
  letter-spacing: 0.5px;
}
.name-user span{
  color: #979797;
  font-size: 0.8rem;
}
.reviews{
  color: #f9d71c;
}
.box-top{
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 20px;
}
.client-comment p{
  font-size: 0.9rem;
  color: #4b4b4b;
}
.testimonial-box:hover{
  transform: translateY(-10px);
  transition: all ease 0.3s;
}
.contact{
  margin-top: 150px;
  width: 100%;
  background-color: #ddd;
}
.contact h2{
  text-align: center;
}
.container6{
  display: flex;
  justify-content: center;
  align-items: center;
  width: 60%;
  margin:  0 auto;
}
form{
  display: flex;
  flex-direction: column;
  width: 50%;
  margin-top: 120px;
  align-items: center;

}
input{
  padding: 5px;
  border-radius: 5px;
  background-color: #fff;
}
.submit {
  margin-top: 20px;
  width: 50%;
  padding: 5px;
  border-radius: 5px;
  background-color: #fff;
}
button :hover{
  background-color: #000;
  color:white;
  
}   
input[type=text],
select,
textarea {
  width: 100%;
  padding: 8px;
  border: 1px solid #eeeeee;
  border-radius: 4px;
  box-sizing: border-box;
  margin-top: 8px;
  margin-bottom: 16px;
  resize: vertical;
}
input[type=submit] {
  background-color: #4cd9c6;
  color: #ffffff;
  padding: 12px 20px;
  border: none;
  border-radius: 7px;
  cursor: pointer;
}
input[type=submit]:hover {
  background-color: #6fe8d7;
}